.App {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  margin: 10px;
}

.TopBar {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.TopBar > button {
  margin-right: 20px;
}

.Board {
  display: grid;
  grid-template-columns: repeat(7, 35px);
  grid-template-rows: repeat(16, 20px);
  justify-content: center;
}

.Box {
  background-color: yellow;
  visibility: hidden;
  border: 1px solid black;
  width: 35px;
  height: 20px;
}

.Highlight {
  background-color: red;
}

.spotVisible {
  visibility: visible;
}