.App {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 10px;
  text-align: center;
}

.Nav > button {
  margin-right: 20px;
}

.Board {
  display: grid;
  grid-template-columns: repeat(7, 35px);
  grid-template-rows: repeat(16, 20px);
  justify-content: center;
  font-size: 12px;
  font-weight: bold;
}
.Nav {
  display: grid;
  grid-template-columns: repeat(7, 35px);
  grid-template-rows: repeat(1, 20px);
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.Box {
  background-color: yellow;
  visibility: hidden;
  border: 1px solid black;
  width: 35px;
  height: 20px;
  font-size: 12px;
  font-weight: bold;
}

.markSpot {
  background-color: red;
}

.spotVisible {
  visibility: visible;
}

.Messages {
  text-align: center;
  justify-content: center;
  width: 230px;
  height: 30px;
  margin: 4px;
}

h4, h5 {
  margin: 4px;
}